*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 974149 */
  src: url('//at.alicdn.com/t/font_974149_l0zhduzwfo.eot');
  src: url('//at.alicdn.com/t/font_974149_l0zhduzwfo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_974149_l0zhduzwfo.woff') format('woff'),
  url('//at.alicdn.com/t/font_974149_l0zhduzwfo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_974149_l0zhduzwfo.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
}