/* 结尾 */
.bd{
	width: 100%;
	height: 1.55rem;
	background: #FFFFFF;
	position: fixed;
	left: 0;
	bottom: 0;
	border: 1px solid #f2f2f2;
}
.bd .hezi{
	width: 25%;
	height: 100%;
    background: #fff;
	float: left;
	text-align: center;
	color: #999;
}
.bd .hezi a{
	margin-top: 0.25rem;
	font-size: 0.3rem;
	display: block;
	display: flex;
	flex-direction: column;
    justify-content: center;
	color: #999;
}
.bd .hezi a>img{
	width: 0.57rem;
	height: 0.57rem;
	align-self: center;
}
.bd :nth-child(1){
	color: #ff6700;
}
/* 结尾结束/ */